#experience .section-title h2 {
    color: var(--gray-n3);
}

#experience .content-container {
    display: grid;
    gap: 2rem;
}

#experience .content-container .experience-container {
    background-color: var(--gray-n1);
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    display: grid;
    gap: 1rem;
}

#experience .experience-container span {
    font-family: 'poppins', sans-serif;
    position: absolute;
    right: calc(100% + 2rem);
    top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--gray-n6);
    width: max-content;
}

#experience .experience-container .experience-title {
    display: flex;
    justify-content: space-between;
    color: var(--gray-n8);
}

#experience .experience-container .experience-title h3 {
    font-size: 1.8rem;
}

#experience .experience-container .experience-content {
    display: flex;
    justify-content: space-between;
    gap: 2.7rem;
}

#experience .experience-container .experience-content .experience-description p {
    font-size: 1.6rem;
    color: var(--gray-n7);
    font-weight: 500;
    max-width: 55ch;
}

#experience .experience-container .experience-content .experience-technologies {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;
}

#experience .experience-container .experience-content .experience-technologies li {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    padding: .6rem 1.2rem;
    background-color: var(--primary-color);
    border-radius: .5rem;
}
